<div class="container">
  <h1>Welcome to Imposter!</h1>
  <h4>Where the imposterable is posterable.</h4>

  <div class="rave-controls">
    <table class="rave-table">
      <tr>
        <th>

        <div class="rave-status">
          <p class="rave-<%= @status %>"><%= @status.upcase %></p>
        </div>

        <%= link_to "Rave Simulator", rave_path(format: 'rss'), class: 'btn' %>

        <div class="toggle-container">
          <% button_text = @status == "on" ? "Turn Off" : "Turn On" %>
          <%= link_to button_text, {:action => "toggle_alert", :status => @status}, class: 'btn', local: true %>
        </div>

        </th>
      </tr>

      <tr>
        <th>

        <div class="rave-status">
          <p class="rave-<%= @notification_status %>"><%= @notification_status.upcase %></p>
        </div>

        <%= link_to "Rave Notification Simulator", rave_notification_path(format: 'rss'), class: 'btn' %>

        <div class="toggle-container">
          <% button_text = @notification_status == "on" ? "Turn Off" : "Turn On" %>
          <%= link_to button_text, {:action => "toggle_notification", :notification_status => @notification_status}, class: 'btn', local: true %>
        </div>

        </th>
      </tr>
    </table>
  </div>
</div>
